:root {
    --color-black: 0 0 0;
    --color-white: 255 255 255;
    --color-red: 239 68 68;
    --color-green: 34 197 94;
    --color-gray: 107 114 128;
    --size-0: 0px;
    --size-2: 0.5rem;
    --size-3: 0.75rem;
    --size-4: 1rem;
    --size-5: 1.25rem;
    --size-6: 1.5rem;
    --size-7: 1.75rem;
    --size-8: 2rem;
    --size-10: 2.5rem;
    --size-12: 3rem;
    --size-14: 3.5rem;
    --size-16: 4rem;
    --size-18: 4.5rem;
    --size-20: 5rem;
    --size-28: 7rem;
    --size-40: 10rem;
    --height-screen: 100vh;
    --font-family-sans: Roboto, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
    --font-family-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
    --font-size-xs: 0.75rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-2xl: 1.5rem;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;
    --line-height-4: 1rem;
    --line-height-5: 1.25rem;
    --line-height-6: 1.5rem;
    --line-height-7: 1.75rem;
    --line-height-8: 2rem;
    --border-radius-sm: 0.125rem;
}

@layer reset {
    *,
    ::before,
    ::after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: rgb(var(--color-gray-200) / 1);
    }

    ::before,
    ::after {
        --content: "";
    }
    
    html {
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        font-family: var(--font-family-sans);
        font-feature-settings: normal;
        font-variation-settings: normal;
    }
    
    body {
        margin: 0;
        line-height: inherit;
    }
    
    hr {
        height: 0;
        color: inherit;
        border-top-width: 1px;
    }
    
    abbr:where([title]) {
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit;
    }

    a {
        color: inherit;
        text-decoration: inherit;
    }
    
    b,
    strong {
        font-weight: bolder;
    }
    
    code,
    kbd,
    samp,
    pre {
        font-family: var(--font-family-mono);
        font-size: 1em;
    }

    small {
        font-size: 80%;
    }

    sub,
    sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    sub {
        bottom: -0.25em;
    }

    sup {
        top: -0.5em;
    }
    
    table {
        text-indent: 0;
        border-color: inherit;
        border-collapse: collapse;
    }
    
    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        font-size: 100%;
        font-weight: inherit;
        line-height: inherit;
        color: inherit;
        margin: 0;
        padding: 0;
    }
    
    button,
    select {
        text-transform: none;
    }
    
    button,
    [type="button"],
    [type="reset"],
    [type="submit"] {
        -webkit-appearance: button;
        background-color: transparent;
        background-image: none;
    }
    
    :-moz-focusring {
        outline: auto;
    }

    :-moz-ui-invalid {
        box-shadow: none;
    }
    
    progress {
        vertical-align: baseline;
    }

    ::-webkit-inner-spin-button,
    ::-webkit-outer-spin-button {
        height: auto;
    }

    [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
    }
    
    ::-webkit-search-decoration {
        -webkit-appearance: none;
    }
    
    ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
    }
    
    summary {
        display: list-item;
    }

    blockquote,
    dl,
    dd,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    hr,
    figure,
    p,
    pre {
        margin: 0;
    }

    fieldset {
        margin: 0;
        padding: 0;
    }

    legend {
        padding: 0;
    }

    ol,
    ul,
    menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    dialog {
        padding: 0;
    }

    textarea {
        resize: vertical;
    }

    input::-moz-placeholder,
    textarea::-moz-placeholder {
        opacity: 1;
        color: rgb(var(--color-gray-400) / 1);
    }

    input::placeholder,
    textarea::placeholder {
        opacity: 1;
        color: rgb(var(--color-gray-400) / 1);
    }

    button,
    [role="button"] {
        cursor: pointer;
    }

    :disabled {
        cursor: default;
    }

    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
        display: block;
        vertical-align: middle;
    }

    img,
    video {
        max-width: 100%;
        height: auto;
    }

    [hidden] {
        display: none;
    }
}

/* FOOTER START */
.footer {
    padding-top: var(--size-10);
    padding-bottom: var(--size-10);
}

@media (min-width: 768px) {
    .footer {
        padding-top: var(--size-20);
        padding-bottom: var(--size-20);
    }
}

.footer {
    padding-left: var(--size-8);
    padding-right: var(--size-8);
}

@media (min-width: 768px) {
    .footer {
        padding-left: var(--size-16);
        padding-right: var(--size-16);
    }
}

.footer {
    max-width: 1440px;
    margin: auto;
}

.footer .footer__newsletter-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer .footer__newsletter-container {
        flex-direction: row;
    }
}

.footer .footer__newsletter-container {
    gap: var(--size-6);
    justify-content: space-between;
    padding-bottom: var(--size-20);
}

.footer .footer__heading {
    font-size: var(--font-size-lg);
    line-height: var(--line-height-7);
    font-weight: var(--font-weight-semibold);
}

.footer .footer__subtitle {
    font-size: var(--font-size-base);
    line-height: var(--line-height-6);
}

.footer .footer__newsletter-form {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
}

.footer > div > div > div {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer > div > div > div {
        flex-direction: row;
    }
}

.footer > div > div > div {
    gap: var(--size-3);
}

.footer > div > div > div > div {
    border-width: 1px;
    --border-opacity: 1;
    border-color: rgb(var(--color-black) / var(--border-opacity));
    padding: var(--size-3);
}

.footer > div > div > div > div > input {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.footer > div > div > div > button {
    display: flex;
    gap: var(--size-2);
    cursor: pointer;
    align-items: center;
    border-width: 1px;
    --border-opacity: 1;
    border-color: rgb(var(--color-black) / var(--border-opacity));
    padding: var(--size-3) var(--size-6);
    transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter, -webkit-text-decoration-color, -webkit-backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.footer > div > div > div > button:hover {
    --bg-opacity: 1;
    background-color: rgb(var(--color-black) / var(--bg-opacity));
    --text-opacity: 1;
    color: rgb(var(--color-white) / var(--text-opacity));
}

.footer .footer__privacy-notice {
    font-size: var(--font-size-xs);
    line-height: var(--line-height-4);
}

.footer .footer__links-container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer .footer__links-container {
        flex-direction: row;
    }
}

.footer .footer__links-container {
    gap: var(--size-10);
    border-top-width: 1px;
    border-bottom-width: 1px;
    --border-opacity: 1;
    border-color: rgb(var(--color-black) / var(--border-opacity));
    justify-content: space-between;
    padding-top: var(--size-20);
    padding-bottom: var(--size-20);
}

.footer .footer__quick-links {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.footer .footer__quick-links-heading {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-bold);
}

.footer > div > div > a {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
}

.footer .footer__resources {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.footer .footer__resources-heading {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-bold);
}

.footer .footer__social {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.footer .footer__social-heading {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-bold);
}

.footer .footer__support {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.footer .footer__support-heading {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-bold);
}

.footer .footer__business {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.footer .footer__business-heading {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-bold);
}

.footer .footer__contact {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.footer .footer__contact-heading {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-bold);
}

.footer .footer__copyright {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .footer .footer__copyright {
        flex-direction: row;
    }
}

.footer .footer__copyright {
    gap: var(--size-10);
    align-items: center;
    justify-content: space-between;
    padding-top: var(--size-8);
}

.footer > div > p {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
}
/* FOOTER END */

/* HEADER START */
.header {
    top: var(--size-0);
    left: var(--size-0);
    width: 100%;
    position: fixed;
    z-index: 5;
}

.header .header__top-bar {
    display: flex;
    gap: var(--size-4);
    border-bottom-width: 1px;
    --bg-opacity: 1;
    background-color: rgb(var(--color-white) / var(--bg-opacity));
}

.header .header__logo-section {
    width: 100%;
    display: flex;
    gap: var(--size-8);
    padding-top: var(--size-4);
    padding-bottom: var(--size-4);
    padding-left: var(--size-5);
    padding-right: var(--size-5);
}

@media (min-width: 768px) {
    .header .header__logo-section {
        padding-left: var(--size-16);
        padding-right: var(--size-16);
    }
}

.header .header__logo-section {
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .header .header__logo-section {
        justify-content: flex-start;
    }
}

.header .header__logo-section {
    max-width: 1440px;
    margin: auto;
}

.header > div > div > a {
    /* Unknown class .active */
}

.header .header__menu-links {
    gap: var(--size-8);
    display: none;
}

@media (min-width: 768px) {
    .header .header__menu-links {
        display: flex;
    }
}

.header > div > div > div > div {
    display: flex;
    cursor: pointer;
}

.header > div > div > div > div > svg {
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

.header > div > div > button {
    cursor: pointer;
}

@media (min-width: 768px) {
    .header > div > div > button > svg {
        display: none;
    }
}

.header .header__nav-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    --bg-opacity: 1;
    background-color: rgb(var(--color-white) / var(--bg-opacity));
    height: var(--size-0);
}

.header .header__nav-content {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    .header .header__nav-content {
        flex-direction: row;
    }
}

.header .header__nav-content {
    gap: var(--size-8);
    padding-left: var(--size-5);
    padding-right: var(--size-5);
}

@media (min-width: 768px) {
    .header .header__nav-content {
        padding-left: var(--size-16);
        padding-right: var(--size-16);
    }
}

.header .header__nav-content {
    padding-top: var(--size-4);
    padding-bottom: var(--size-4);
}

@media (min-width: 768px) {
    .header .header__nav-content {
        padding-top: var(--size-8);
        padding-bottom: var(--size-8);
    }
}

.header .header__nav-content {
    max-width: 1440px;
    margin: auto;
}

.header .header__nav-links {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

@media (min-width: 768px) {
    .header .header__nav-links {
        display: none;
    }
}

.header .header__section {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
}

.header .header__section-title {
    padding-left: var(--size-2);
    padding-right: var(--size-2);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
    font-weight: var(--font-weight-bold);
}

.header .header__section-item {
    display: flex;
    gap: var(--size-3);
    cursor: pointer;
}

.header .header__section-item:hover {
    --bg-opacity: 1;
    background-color: rgb(var(--color-gray-100) / var(--bg-opacity));
}

.header .header__section-item {
    padding: var(--size-2);
    border-radius: var(--border-radius-sm);
}

.header .header__section-item-title {
    font-size: var(--font-size-base);
    line-height: var(--line-height-6);
    font-weight: var(--font-weight-bold);
}

.header .header__section-item-desc {
    font-size: var(--font-size-sm);
    line-height: var(--line-height-5);
}

.header .header__spacer {
    height: 100%;
}

.header .header__cta-container {
    --bg-opacity: 1;
    background-color: rgb(var(--color-black) / var(--bg-opacity));
}

.header .header__cta-box {
    --text-opacity: 1;
    color: rgb(var(--color-white) / var(--text-opacity));
    padding-left: var(--size-16);
    padding-right: var(--size-16);
    padding-top: var(--size-4);
    padding-bottom: var(--size-4);
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

.header .header__footer {
    padding-top: var(--size-4);
    padding-bottom: var(--size-4);
}

.header .header__footer-content {
    height: var(--size-8);
}

.header__expand {
    display: flex;
    cursor: pointer;
}

.header[data-expanded="true"] .header__expand__icon {
    transform: rotate(180deg);
}

.header[data-expanded="true"] {
    height: var(--height-screen);
}

.header[data-expanded="true"] .header__nav-container {
    height: var(--height-screen);
}
/* HEADER END */

/* BLOCKS START */
.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--size-2);
    padding: var(--size-3) var(--size-6);
    border: 1px solid rgb(var(--color-black));
}

.section {
    width: 100%;
}

.section .section__content {
    padding: var(--size-14) var(--size-8);
    max-width: 1440px;
    margin: auto;
}


@media (min-width: 768px) {
    .section .section__content {
        padding: var(--size-28) var(--size-16);
    }
}
/* BLOCKS END */

/* UTILS START */
.empty-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../imgs/bg/img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-h {
    height: 65px;
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bordered {
    border: 1px solid rgb(var(--color-black));
}

.aspect-square {
    aspect-ratio: 1 / 1;
}

.text-tagline {
    font-size: 1rem;
    line-height: 150%;
    font-weight: 600;
}

.text-h-1 {
    line-height: 120%;
    font-size: 2.5rem;
    font-weight: 700;
}

.text-h-2 {
    line-height: 120%;
    font-size: 2.25rem;
    font-weight: 700;
}

.text-h-3 {
    line-height: 120%;
    font-size: 2rem;
    font-weight: 700;
}

.text-h-4 {
    line-height: 140%;
    font-size: 1.5rem;
    font-weight: 700;
}

.text-h-5 {
    line-height: 140%;
    font-size: 1.25rem;
    font-weight: 700;
}

.text-h-6 {
    line-height: 140%;
    font-size: 1.125rem;
    font-weight: 700;
}

@media (min-width: 768px) {
    .text-h-1 {
        line-height: 120%;
        font-size: 3.5rem;
    }

    .text-h-2 {
        line-height: 120%;
        font-size: 3rem;
    }

    .text-h-3 {
        line-height: 130%;
        font-size: 2.5rem;
    }

    .text-h-4 {
        line-height: 140%;
        font-size: 2rem;
    }

    .text-h-5 {
        line-height: 140%;
        font-size: 1.5rem;
    }

    .text-h-6 {
        line-height: 140%;
        font-size: 1.25rem;
    }
}

.text-lg {
    font-size: 1.25rem;
    line-height: 150%;
}

.text-md {
    font-size: 1.125rem;
    line-height: 150%;
}

.text-regular {
    font-size: 1rem;
    line-height: 150%;
}

.text-sm {
    font-size: 0.875rem;
    line-height: 150%;
}

.text-xs {
    font-size: 0.75rem;
    line-height: 150%;
}

.text-center {
    text-align: center;
}

.fw-extra {
    font-weight: 800;
}

.fw-bold {
    font-weight: 700;
}

.fw-semi {
    font-weight: 600;
}

.fw-medium {
    font-weight: 500;
}

.fw-normal {
    font-weight: 400;
}

.fw-light {
    font-weight: 300;
}

.text-white {
    color: rgb(var(--color-white));
}

.text-red {
    color: rgb(var(--color-red));
}

.text-green {
    color: rgb(var(--color-green));
}

.text-gray {
    color: rgb(var(--color-gray));
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.items-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.gap-20 {
    column-gap: var(--size-20);
}

.col-2 {
    display: flex;
    flex-direction: column;
    gap: var(--size-2);
}

.col-3 {
    display: flex;
    flex-direction: column;
    gap: var(--size-3);
}

.col-4 {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.col-5 {
    display: flex;
    flex-direction: column;
    gap: var(--size-5);
}

.col-6 {
    display: flex;
    flex-direction: column;
    gap: var(--size-6);
}

.col-8 {
    display: flex;
    flex-direction: column;
    gap: var(--size-8);
}

.col-10 {
    display: flex;
    flex-direction: column;
    gap: var(--size-10);
}

.col-12 {
    display: flex;
    flex-direction: column;
    gap: var(--size-12);
}

.col-20 {
    display: flex;
    flex-direction: column;
    gap: var(--size-20);
}

.col-28 {
    display: flex;
    flex-direction: column;
    gap: var(--size-28);
}

.row-2 {
    display: flex;
    flex-direction: row;
    gap: var(--size-2);
}

.row-4 {
    display: flex;
    flex-direction: row;
    gap: var(--size-4);
}

.row-6 {
    display: flex;
    flex-direction: row;
    gap: var(--size-6);
}

.row-8 {
    display: flex;
    flex-direction: row;
    gap: var(--size-8);
}

.row-20 {
    display: flex;
    flex-direction: row;
    gap: var(--size-20);
}

@media (min-width: 768px) {
    .md\:items-center {
        align-items: center;
    }
    
    .md\:col-4 {
        display: flex;
        flex-direction: column;
        gap: var(--size-4);
    }
    
    .md\:col-6 {
        display: flex;
        flex-direction: column;
        gap: var(--size-6);
    }
    
    .md\:col-8 {
        display: flex;
        flex-direction: column;
        gap: var(--size-8);
    }

    .md\:col-12 {
        display: flex;
        flex-direction: column;
        gap: var(--size-12);
    }

    .md\:col-20 {
        display: flex;
        flex-direction: column;
        gap: var(--size-20);
    }

    .md\:row-6 {
        display: flex;
        flex-direction: row;
        gap: var(--size-6);
    }

    .md\:row-8 {
        display: flex;
        flex-direction: row;
        gap: var(--size-8);
    }

    .md\:row-12 {
        display: flex;
        flex-direction: row;
        gap: var(--size-12);
    }
    
    .md\:row-20 {
        display: flex;
        flex-direction: row;
        gap: var(--size-20);
    }
}

.list-disc {
    padding-left: 15px;
    list-style-type: disc;
}
/* UTILS END */

/* UI START */
.symbol {
    display: flex;
    gap: var(--size-2);
    align-items: center;
}

.symbol .symbol__name {
    font-size: var(--font-size-2xl);
    line-height: var(--line-height-8);
    font-weight: var(--font-weight-semibold);
}

.button-link {
    position: relative;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(var(--color-black));
    padding: var(--size-3) var(--size-6);
    gap: var(--size-3);
}

.stepper {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
}

.stepper .stepper__step {
    display: flex;
    gap: var(--size-3);
}

@media (min-width: 768px) {
    .stepper .stepper__step {
        gap: var(--size-10);
    }
}

.stepper .stepper__step-line {
    display: flex;
    flex-direction: column;
    gap: var(--size-4);
    align-items: center;
}

.stepper > div > div > div > svg {
    width: var(--size-8);
    height: var(--size-8);
}

@media (min-width: 768px) {
    .stepper > div > div > div > svg {
        width: var(--size-12);
        height: var(--size-12);
    }
}

.stepper .stepper__step-line__visualizer {
    height: 100%;
    width: 2px;
    --bg-opacity: 1;
    background-color: rgb(var(--color-black) / var(--bg-opacity));
}

.stepper .stepper__step-content {
    padding-bottom: var(--size-2);
}

@media (min-width: 768px) {
    .stepper .stepper__step-content {
        padding-bottom: var(--size-4);
    }
}

.stepper .stepper__step-content__footer {
    height: var(--size-10);
}

@media (min-width: 768px) {
    .stepper .stepper__step-content__footer {
        height: var(--size-18);
    }
}

.expander {
    border-top-width: 1px;
    border-color: rgb(var(--color-black));
}

.expander__body {
    overflow: hidden;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
    max-height: var(--size-0);
}

.expander__activator {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: var(--size-5);
    padding-bottom: var(--size-5);
    cursor: pointer;
    font-size: var(--font-size-lg);
    line-height: var(--line-height-7);
    font-weight: var(--font-weight-semibold);
}

.expander[data-expanded="true"] .expander__body {
    max-height: var(--size-40);
}

.expander[data-expanded="true"] .expander__activator svg {
    transform: rotate(180deg);
}

.expander__body > div {
    padding-bottom: var(--size-6);
}
/* UI END */

