/* ========================================================================
[Table of contents]

Components:

    1.      Base
    2.      Link
    3.      Heading
    4.      Divider
    5.      List
    6.      Description list
    7.      Table
    8.      Icon
    9.      Form Range
    10.     Form
    11.     Button
    12.     Section
    13.     Container
    14.     Grid
    15.     Tile
    16.     Card
    17.     Close
    18.     Spinner
    19.     Totop
    20.     Marker
    21.     Alert
    22.     Badge
    23.     Label
    24.     Overlay
    25.     Article
    26.     Comment
    27.     Search
    28.     Nav
    29.     Navbar
    30.     Subnav
    31.     Breadcrumb
    32.     Pagination
    33.     Tab
    34.     Slidenav
    35.     Dotnav
    36.     Accordion
    37.     Drop
    38.     Dropdown
    39.     Modal
    40.     Lightbox
    41.     Slideshow
    42.     Sticky
    43.     Off-canvas
    44.     Notification
    45.     Tooltip
    46.     Progress
    47.     Sortable
    48.     Countdown
    49.     Text
    50.     Cover
    51.     Flex
    52.     Utility
    53.     Position
    54.     Inverse
    55.     Print
    56.     Responsive

========================================================================== */


$tm-xsmall-font-size: 0.7rem;
$tm-primary-color: #2196F3;
$tm-primary-color-dark: #067be2; //#1E88E5;
$tm-primary-color-xdark: #1976D2;
$tm-letter-spacing-l: 3px;
$tm-timeline-border-width: 4px;
$tm-timeline-dot-diameter: 20px;

$global-font-family: 'Work Sans', sans-serif;
$global-font-size: 18px;
$base-heading-font-family: 'Nunito Sans', sans-serif;
$heading-hero-font-size: 3rem;
$heading-hero-font-size-s: 4rem;
$heading-hero-font-size-m: 5.2rem;
$global-xxlarge-font-size: 3.6rem;
$global-xlarge-font-size: 2.6rem;
$base-body-font-weight: 200;
$global-primary-background: $tm-primary-color;
$global-link-color: $tm-primary-color;
$navbar-background: $tm-primary-color;
$inverse-global-color: rgba(255, 255, 255, 0.8);
$base-heading-font-weight: 800;
$base-link-hover-text-decoration: none;
$subnav-item-text-transform: none;
$progress-background: $tm-primary-color-dark;
$progress-bar-background: $tm-primary-color-xdark;

@import "../../node_modules/uikit/src/scss/variables-theme.scss";
@import "../../node_modules/uikit/src/scss/mixins-theme.scss";

$table-divider-border: rgba(255, 255, 255, 0.3);
$container-max-width: 1000px;
$logo-font-size: 1.2rem;
$inverse-logo-color: $global-inverse-color;
$inverse-navbar-nav-item-color: rgba(255, 255, 255, 0.7);
$inverse-navbar-nav-item-hover-color: $global-inverse-color;
$navbar-dropdown-nav-item-color: rgba(255, 255, 255, 0.7);
$navbar-dropdown-nav-item-hover-color: $global-inverse-color;
$inverse-navbar-toggle-color: rgba(255, 255, 255, 0.7);
$inverse-navbar-toggle-hover-color: $global-inverse-color;
$offcanvas-bar-background: $tm-primary-color-xdark;
$navbar-nav-item-text-transform: none;
$button-default-background: $background-default-background;
$article-title-font-size: 2.2rem;

@mixin hook-base-misc(){
    .tm-text-xsmall {
        font-size: $tm-xsmall-font-size;
    }

    .tm-primary-color-dark {
        background: $tm-primary-color-dark;
    }

    .tm-primary-color-xdark {
        background: $tm-primary-color-xdark;
    }
    .letter-spacing-l {
        letter-spacing: $tm-letter-spacing-l;
    }
    .hvr-forward {
        display: inline-block;
        vertical-align: middle;
        -webkit-transform: perspective(1px) translateZ(0);
        transform: perspective(1px) translateZ(0);
        box-shadow: 0 0 1px transparent;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-property: transform;
        transition-property: transform;
    }
    .hvr-forward:active,
    .hvr-forward:focus,
    .hvr-forward:hover {
        -webkit-transform: translateX(6px);
        transform: translateX(6px);
    }
}
@mixin hook-base-body(){
    letter-spacing: 1px;
}
@mixin hook-base-heading(){
    letter-spacing: 2px;
}
@mixin hook-text-misc(){
    .uk-light .uk-text-large {
        color: #fff;
        font-weight: 300;
    }
}
@mixin hook-logo(){
    letter-spacing: 2px;
    font-family: $base-heading-font-family;
    font-weight: 800;
}
@mixin hook-article(){
    p {
        line-height: 2.1;
    }
}
@mixin hook-article-title(){
    font-weight: 400;
    letter-spacing: 0;
    margin-right: 30px;
    .tm-totop {
        margin-right: -30px;
    }
}

@mixin hook-navbar-container(){
    border-bottom: 1px solid lighten($tm-primary-color, 4%);
}
@mixin hook-list-misc(){
    .uk-list-large{
        font-size: 1.2rem
    }
    .uk-list-medium > li:nth-child(n+2),
    .uk-list-medium > li > ul { margin-top: $list-margin-top * 1.5; }
}
@mixin hook-card-misc(){
    .uk-card-box {
        color: $global-inverse-color;
        background: $tm-primary-color-dark;
        text-decoration: none;
        padding: 30px;
        &:hover {
            text-decoration: none;
            background: #1976D2;
        }
        p{
            font-size: 1.1rem;
            font-weight: 300;
        }
    }

    .uk-icon-forder {
        box-sizing: border-box;
        border: 1px solid $global-inverse-color;
        width: 60px;
        height: 60px;
        vertical-align: middle;
        display: -ms-inline-flexbox;
        display: -webkit-inline-flex;
        display: inline-flex;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
}
@mixin hook-modal-misc(){
    .uk-modal-search {
        .uk-close {
            background: transparent;
        }

        .uk-modal-dialog {
            width: 100%;
            background: transparent;

            .uk-search-large {
                width: 80%;
            }

            form input {
                height: 100px;
            }
        }
    }
}
@mixin hook-button-misc(){
    .tm-button {
        display: inline-block;
        border-radius: 3px;
        background-color: #fff;
        color: $tm-primary-color !important;
        border: solid 1px #fff;
        min-width: 200px;
        text-align: center;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
        text-transform: uppercase;
        letter-spacing: 0.2em;
        transition: transform 100ms ease-in-out,box-shadow 100ms ease-in-out;
        transform: translateY(0px);

        &:hover {
            box-shadow: 0 6px 6px rgba(0,0,0,0.1);
            transform: translateY(-2px);
        }
    }

    .tm-button-xlarge {
        padding: 0 10px;
        line-height: 64px;
        font-size: 15px;
        font-weight: 300;
    }
}
@mixin hook-table(){
    td, th {
        padding-top: 30px;
        padding-bottom: 30px;
        color: $inverse-global-color;
    }

    border-top: 1px solid $table-divider-border;
    border-bottom: 1px solid $table-divider-border;

    @media (min-width: $breakpoint-medium) {
      tbody td:last-child {
          text-align: right;
      }
    }
}
@mixin hook-form-misc(){
    .tm-form-contact {
        .js-upload {
            background-color: $inverse-form-background;
        }
    }
}
@mixin hook-utility-misc(){
    .tm-label {
        border: solid 1px rgba(255, 255, 255, 0.7);
        border-radius: 2px;
        padding: 1px 4px;
        text-transform: uppercase;
        font-size: $tm-xsmall-font-size;
        display: inline-block;
        text-align: center;
        min-width: 47px;
        letter-spacing: 1px;
    }
    .copyright {
        a {
            color: $inverse-global-muted-color;
        }
    }
    .tm-subtitle {
        max-width: 600px;
        margin: 0 auto;
    }
    .tm-overtitle {
        font-weight: 300;
        font-size: 1.2rem;
    }
    .tm-margin-large-top {
        margin-top: 100px;
    }
    body {
      //filter: blur(7px);
    }
}

@import "../../node_modules/uikit/src/scss/uikit-theme.scss";

/* ========================================================================
   Component: Responsive
 ========================================================================== */

@media (min-width: $breakpoint-small) {
    .tm-form-contact {
        .uk-form-label {
            font-size: $global-large-font-size;
        }
    }

    .tm-form-xlarge:not(textarea):not([multiple]):not([size]) {
        height: 90px;
        padding-left: 35px;
        padding-right: 35px;
    }

    textarea.tm-form-xlarge {
        padding: 35px;
        height: 200px;
    }

    .tm-form-xlarge {
        font-size: 1.3rem;
        letter-spacing: 1px;
    }
}

@media (min-width: $breakpoint-medium) {
    .tm-faq .uk-article,
    .tm-faq .uk-list {
        position: relative;
        margin-left: 160px;

        &:before {
            font-family: 'Josefin Sans', sans-serif;
            font-weight: 100;
            font-size: 6.6rem;
            line-height: 1;
            position: absolute;
            top: -0;
            left: -160px;
            color: $inverse-global-muted-color;
            z-index: 1;
            content: "Q";
        }
    }
    .tm-timeline {
        box-sizing: border-box;
        * {
            box-sizing: border-box;
        }
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: calc(25% - 2px);
            bottom: 0;
            width: $tm-timeline-border-width;
            background: $inverse-global-muted-color;
        }

        &:after {
            content: "";
            display: table;
            clear: both;
        }
    }

    .tm-timeline-entry {
        clear: both;
        text-align: left;
        position: relative;

        &:after {
            display: block;
            content: "";
            clear: both;
        }

        .tm-timeline-time {
            float: left;
            width: 25%;
            padding-right: $global-large-margin;
            text-align: right;
            position: relative;

            &:before {
                content: '';
                position: absolute;
                width: $tm-timeline-dot-diameter;
                height: $tm-timeline-dot-diameter;
                border: $tm-timeline-border-width solid $inverse-global-muted-color;
                background-color: $tm-primary-color;
                border-radius: 100%;
                top: 0;
                right: - 14px;
                z-index: 99;
            }

            h4 {
                font-weight: 400;
                color: rgba(255, 255, 255, 0.7);
            }
        }

        .tm-timeline-body {
            float: right;
            width: 75%;
            padding-left: $global-large-margin;
            margin-top: -15px;
        }
    }
}
